:root {
    --black: #11151f;
    --dark-grey: #d4d4d4;
    --grey-blue-hover: #283040;
    --grey-blue: #374456;
    --mid-grey: #f1f1f1;
    --white: #fcfcfc;
    --yellow: #e5b261;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
}

.banner {
    background-image: url('/img/work-at-home-with-pets.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.title {
    display: flex;
    font-size: .8rem;
    color: black;
}

.title img {
    max-width: 2rem;
    margin-right: .4rem;
}

h2 {
    margin: 1rem;
    font-size: 2rem;
}

p {
    padding: 1rem;
}

.box {
    padding: 1rem;
    border-radius: 10rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.head {
    background-color: #E5B261;
    color: white;
    text-align: center;
    border-radius: .5rem .5rem 0 0;
}

form {
    background-color: #F1F1F1;
    padding: 1rem;
}

fieldset {
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

fieldset div {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #D4D4D4;
    border-radius: .2rem;
    padding: .6rem .3rem .6rem .3rem;
}



label:has(+input:valid) {
    background-image: url('/img/check.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5%;
}

select {
    border: 1px solid #D4D4D4;
    background-color: white;
    padding: .6rem .3rem .6rem .3rem;
}


label {
    font-size: 1.2rem;
}

.info {
    font-size: .9rem;
    color: #464646;
    padding: 1rem 0 0 0;
}

.info2 {
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    font-size: .8rem;
}

h3 {
    padding-top: 1rem;
}

a {
    color: #464646;
}

button {
    background-color: #374455;
    width: 100%;
    padding: .5rem .3rem .5rem .3rem;
    margin: 1.5rem 0rem 0rem 0rem;
    color: white;
    border-radius: .2rem;
    border: 0;
}

/* ON YOUR OWN

    Write a special media query that only applies to the two smallest screen sizes. In these layouts, the brand (the logo and name of the company should):

    1. be positioned at the top of the page
    2. have white text
    3. have a drop-shadow on the text

*/

@media screen and (max-width: 820px) {
    .title {
        padding: 1rem;
        position: absolute;
        top: 0rem;
        color: white;
        text-shadow: 1px 1px 2px black;
    }
}

/* MEDIUM VIEW */
@media screen and (min-width: 600px) {
    .content {
        padding: 1rem;
    }

    fieldset {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    fieldset div {
        width: 49%;
    }

    select {
        height: 100%;
    }

    button {
        margin-top: 3rem;
    }
}

/* LARGEST VIEW */
@media screen and (min-width: 820px) {
    main {
        display: flex;
    }

    .banner {
        background-image: url('/img/work-at-home.webp');
        min-width: 40vh;
        width: 100%;
    }

    .title {
        font-size: .6rem;
        padding-left: 1rem;
        margin: 1rem 0rem 3rem 0rem;
    }

    .title img {
        max-width: 1.4rem;
        margin-right: .4rem;
    }

    .content {
        margin: 2rem 2rem 2rem 2rem;
    }

    h2 {
        font-size: 3rem;
        line-height: 110%;
    }

    .head {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        background-image: url('/img/work-at-home.webp');
        max-width: 80vh;
        width: 100%;
    }

    .content {
        max-width: 100vh;
    }
}